*{
    margin: 20px;
    font-family: 'DM Sans', sans-serif;
}
.nav-bar{
    margin-top: -50px !important;
    margin-bottom: -50px !important;
}
.active{
    color: black;
    /* text-decoration: underline; */
    font-weight: 1000;
}
.nav-item:link{
    color: #000000;
    text-decoration: none;
}
.nav-item:hover{
    padding: 10px;
    border: 3px solid #000000;
}
.skip a{
    position: absolute;
    top: -40px;
    z-index: 1;
    color: black;
}
.skip a:focus{
    top: 0;
    position: absolute;
    color: black;
}
body{
    display: grid;
}
.hero{
    background-image: url("../img/background.jpg");
    animation-name: hero_image;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

.process-container{
    display: flex;
    flex-direction: column;
}
.project-container{
    display: flex;
    flex-direction: column;
}
.card{
    text-align: center;
    width: 50vw;
}
.project-container{
    margin-left: -10px;
}

/*Gallery*/
.column-gallery img:hover{
    border-radius: 10px;
    box-shadow: 10px 10px 5px #ACD4F7;
}
aside{
    display: grid;
    grid-template-columns: 1fr;
}


@keyframes hero_image {
    from {opacity: 0;}
    to {opacity: 1;}
}
  @media (prefers-reduced-motion) {
    animation: none;
}

@media only screen and (min-width: 768px){
    .nav-bar ul{
        display: flex;
        flex-direction: row;
    }
    
    /*Hero Content*/
    .hero{
        display: flex;
    }
    .stats{
        display: flex;
        flex-direction: row;
    }

}


@media only screen and (min-width: 992px){
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-bar ul{
    display: flex;
    flex-direction: row;
}
aside{
    display: grid;
    grid-template-columns: 1fr;
}

/*Hero Content*/
.hero{
    display: flex;
}
.stats{
    display: flex;
    flex-direction: row;
}
/*Process*/

.process-container{
    display: flex;
    flex-direction: row;
}
.project-container{
    display: flex;
    flex-direction: row;
}
.card{
    text-align: center;
    width: 25vw;
}
.row-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}  
.column-gallery {
    flex: 50%;
    padding: 0 4px;
} 
.column-gallery img {
    margin-top: 8px;
    width: 25%;
    vertical-align: middle;
}
}